{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div class="container-fluid first">
    <div class="">
       <div>
        <h1 class="space">WELCOME</h1>
        <h1>TO PHOTO-GALLERY</h1>
        <h6 class="mb-5">A PLACE WHERE YOU CAN VIEW PHOTOS</h6>
       </div>
    </div>
</div>
<h1 class="text-center m-4 ">Images</h1>
<div class="container-fluid images">
    <div class="row text-center">
        {% for image in images %}
        <div class="col-md-3">
                <div class="card mt-3 text-center" style="width:18rem;">
                    <img src="{{image.image.url}}" class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{image.name}}</h5>
                      <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modal{{image.id}}">
                        View image
                      </button>  
                      <img src="https://img.icons8.com/material-outlined/50/000000/copy.png" style="width: 25px; float: right;" class="copyBtn">
                      <p class="Input">{{image.image.url}}</p>
                                     
                    </div>
                  </div>  
  <!-- Modal -->
            <div class="modal fade" id="modal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 text-center">
                                <img  class="img-fluid" src="{{image.image.url}}" alt="">
                                <p>Location: {{image.location}}</p>
                                <p>Category: {{image.category}}</p>
                                <p>Description: {{image.description}}</p>
                                <p>Posted on: {{image.date_posted}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer float-none">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>        </div>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h2 class="text-center">There are No Images</h2>
    
    {% endfor %}
    </div>
</div>

{% endblock %}